
.tabbed-set {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 1em 0;
  border-radius: 0.1rem;
}

.tabbed-set > input {
  display: none;
}

.tabbed-set label {
  width: auto;
  padding: 0.9375em 1.25em 0.78125em;
  font-weight: 700;
  font-size: 0.84em;
  white-space: nowrap;
  border-bottom: 0.15rem solid transparent;
  border-top-left-radius: 0.1rem;
  border-top-right-radius: 0.1rem;
  cursor: pointer;
  transition: background-color 250ms, color 250ms;
}

.tabbed-set .tabbed-content {
  width: 100%;
  display: none;
  box-shadow: 0 -.05rem #ddd;
}

.tabbed-set input {
  position: absolute;
  opacity: 0;
}

.tabbed-set input:checked:nth-child(n+1) + label {
  color: red;
  border-color: red;
}

.gram {
  font-weight: bold;
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",Courier,monospace;
}

gram-rep {
  color: #808080;
  font-style: italic;
  font-weight: normal;
  font-family: none;
}

.gram em {
  color: #808080;
  font-style: italic;
  font-weight: normal;
  font-family: none;
}

.rst-content .grammar {
  background: #e7f2fa;
}

.rst-content .grammar .admonition-title {
  background: #003399;
}

.rst-content .grammar .admonition-title::before {
  content: "\f292";
}

.rst-content .undefined-behavior {
  background: #fdc4b6;
}

.rst-content .undefined-behavior .admonition-title {
  background: #e41749;
}

.rst-content .undefined-behavior .admonition-title::before {
  content: "\f057";
}

.rst-content .implementation-defined {
  background: #f0f0f0;
}

.rst-content .implementation-defined .admonition-title {
  background: #a39e9e;
}

.rst-content .hint .admonition-title::before,
.rst-content .note .admonition-title::before,
.rst-content .tip .admonition-title::before {
  content: "\f05a";
}

.rst-content .good-practice {
  background: #dbfaf4;
}

.rst-content .good-practice .admonition-title {
  background: #3b9a9c;
}

.rst-content .good-practice .admonition-title::before {
  content: "\f164";
}

.rst-content .exercise .admonition-title::before {
  content: "\f14b";
}

.rst-content .error .admonition-title::before {
  content: "\f188";
}

.rst-content .implementation-defined .admonition-title::before {
  content: "\f013";
}

@media screen {
  .tabbed-set input:nth-child(n+1):checked + label + .tabbed-content {
    order: 99;
    display: block;
  }
}

@media print {
  .tabbed-content {
    display: contents;
  }
}
